body {
  text-align: center;
  background-image: url("faded-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
}

.App-logo {
  height: 180px;
}

.App-header {
  background-color: #800;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin:auto;
  padding-top: 5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(138,152,161);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(81,117,135);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(81,117,135);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-row, .dropdown {
  width:50%;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  color: white;
  font-size: 18px;
}

.edit-rules {
  padding-top: 25px;
}

.header {
  height: 100px;
  background-color: rgb(138,152,161);
  border-bottom: solid 5px rgb(121,140,163);
  position: relative;
}

.dino {
  content:url("dino.png");
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 20px;
}

.shield {
  content:url("shield.png");
  height: 70px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.header-title {
  color: white;
  font-size: 45px;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top: 15px;
  left: 150px;
}

.dropdown {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-default {
  font-size: 18px;
}
